@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto";
}
.home-page {
  width: 100%;
  height: 100vh;
}
.about {
  width: 100%;
  height: 100vh;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #003366;
  padding-bottom: 5em;
}
.about-heading {
  font-family: "Playfair Display";
  text-align: center;
  padding-top: 2em;
  color: white;
}
.profile-image {
  width: 30%;
  display: block;
  margin: 1.5em auto;
}
.info-header {
  font-family: "Playfair Display";
  text-align: center;
  font-size: 1.5rem;
  color: #3776b6;
  padding-top: 2em;
  padding-bottom: 1.5em;
}
.tutor-info {
  font-size: 1.1rem;
  width: 70%;
  padding-top: 0.5em;
}
.services {
  width: 100%;
  height: 100vh;
}
.services-container {
  padding: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.subjects {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: 10px;
}
.services-header {
  font-family: "Playfair Display";
  text-align: center;
  color: #003366;
}
.subjects-header {
  font-family: "Playfair Display";
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: #4878a8;
}
.options-container {
  display: flex;
  flex-direction: column;
}
.tutoring-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 150px;
  gap: 20px;
}
.options-header {
  text-align: center;
}
.options-subheader {
  text-align: center;
  font-size: 1.2rem;
  padding-top: 0.5em;
}
.sessions {
  width: 100%;
}
.session-type {
  margin-bottom: 4em;
  width: 100%;
  height: 150px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.callToAction {
  text-align: center;
  padding-top: 1.5em;
}
.sessionButton {
  padding: 1.2em;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: #003366;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 2em auto;
}
a {
  text-decoration: none;
}
@media (max-width: 768px) {
  .subjects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .services-container {
    width: 80%;
  }
  .subjects {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.contact {
  width: 100%;
  height: 100vh;
}
.contact-container {
  width: 60%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: #e5ecf3;
}
.contact-label {
  font-size: 1.2rem;
}
.contact-input {
  font-size: 1.1rem;
  font-family: "Roboto";
  width: 500px;
  padding-left: 1.2em;
  height: 35px;
  margin-bottom: 0.8em;
  border-radius: 5px;
  border: 1px solid grey;
}
.contact-textarea {
  font-size: 1.1rem;
  font-family: "Roboto";
  width: 500px;
  height: 100px;
  padding: 1.2em;
  border-radius: 5px;
  border: 1px solid grey;
}
.contact-header {
  margin-top: 2em;
  margin-bottom: 1.5em;
}
.contact-button {
  margin-top: 2em;
  background-color: #3776b6;
  color: white;
  font-size: 1.1rem;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .contact-container {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-input {
    width: 100%;
    height: 35px;
  }
  .contact-textarea {
    width: 100%;
    height: 100px;
  }
}

.logo {
  font-size: 1.5rem;
  font-family: "Bokor", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.green {
  color: #00b74a;
  font-family: "Bokor";
}
.red {
  color: red;
  font-family: "Bokor";
}
.blue {
  color: #25a4d6;
  font-family: "Bokor";
}

.sidebar {
  width: 270px;
  position: fixed;
  margin-left: 2px;
  margin-right: 16px;
  background-color: #003366;
  border-radius: 16px;
  height: calc(100vh - 32px);
  transition: 0.4s ease;
}

.sidebar.collapsed {
  width: 85px;
}
.sidebar-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  font-family: sans-serif;
}
.sidebar-header .header-logo .logo-image {
  width: 46px;
  height: 46px;
  object-fit: contain;
}
.sidebar-header .toogler {
  position: absolute;
  right: 20px;
  height: 35px;
  width: 35px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.sidebar.collapsed .sidebar-header .toogler {
  transform: translate(-4px, 65px);
}
.sidebar-header .toogler:hover {
  background-color: #78aadd;
}
.sidebar-header .toogler span {
  font-size: 1.75rem;
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .toogler span {
  transform: rotate(180deg);
}
.sidebar-nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-direction: column;
  padding: 0 15px;
  transform: translateY(15px);
  transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
  transform: translateY(65px);
}
.sidebar-nav .nav-link {
  color: white;
  padding: 12px 15px;
  display: flex;
  border-radius: 8px;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  transition: 0.4s ease;
}
.sidebar-nav .nav-link:hover {
  background: white;
  color: #003366;
}

.sidebar-nav .nav-link .nav-label {
  transition: opacity 0.4s ease;
}
.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
  opacity: 0;
  pointer-events: none;
}
.sidebar-nav .nav-item {
  position: relative;
}
.sidebar-nav .nav-tooltip {
  top: -10px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  display: none;
  left: calc(100% + 25px);
  background-color: white;
  color: #003366;
  padding: 6px 12px;
  border-radius: 8px;
  white-space: nowrap;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
  display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(50%);
  transition: 0.4s ease;
}
.sidebar-nav .secondary-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
  padding-bottom: 4em;
}
.sidebar-nav .nav-icon {
  font-family: sans-serif;
  font-size: 1rem;
}
.checkbox {
  width: 25px;
  height: 25px;
  margin-top: 0.5em;
}
.bottom {
  margin-bottom: 0.8em;
}
.dashboard-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dashboard-wrapper {
  text-align: center;
  margin: 2em auto;
  width: 50%;
  height: 400px;
  background-color: aliceblue;
}
.dashboard-heading {
  margin-top: 2em;
}
