* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero {
  width: 100%;
}
.headlines {
  width: 100%;
}
.heroHeadline {
  text-align: center;
  font-family: "Playfair Display";
  padding-top: 2em;
  font-size: 3rem;
  color: #003366;
}
.heroSubheadline {
  text-align: center;
  font-size: 1.5rem;
  color: #5a84ad;
  width: 95%;
}
.imageContainer {
  width: 100%;
}
.heroImage {
  width: 70%;
  display: block;
  margin: 0 auto;
}
.benefits {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.benefitItem {
  padding-top: 1em;
  font-size: 1.2rem;
  color: #003366;
}
.icon {
  width: 50px;
}
.benefitsHeader {
  font-size: 2rem;
  color: #00b74a;
  font-family: "Playfair Display";
}
.bookButton {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1.2em;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #00b74a;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, rgb(6, 26, 6), 0, 0.2);
}
